body {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.32em;
  margin: 0;
  background-color: #eee;
}

@import 'vars';

body {
  min-width: 320px;
  overflow-x: hidden;
  color: $color3;
}

img {
  width: 100%;
  height: 100%;
}

.section {
  padding: 3px 20px;
}

.header .section {
  background-color: $color1;
  color: $color2;
  .header__inner {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
  }
  // box-shadow: 0 0px 7px 2px $color4;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 5px;
  a {
    display: flex;
    width: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
  #menu-verhnee-menyu {
    display: flex;
    justify-content: center;
    .menu-item {
      margin-right: 3px;
      font-size: 12px;
      padding: 3px 4px;
      display: flex;
      justify-content: center;
      background-color: $color4;
      color: $color2;
      border-radius: $bradius1;
      letter-spacing: 0.04em;
    }
    .current-menu-item {
      background-color: $color2;
      color: $color4;
    }
  }
}

.collapse {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  .fa {
    display: none;
    font-size: 27px;
    color: $color2;
  }
  .collapse_active {
    display: block;
  }
}
.page {
  padding: 45px 0 0;
}

.header .section .header__inner_hide {
  justify-content: flex-end;
  .header__logo,
  .header__nav {
    display: none;
  }
}
.header_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.header_collapse {
  .header__inner {
    min-height: 20px;
  }
}

h1 {
  margin: 7px 0 24px;
  font-weight: 500;
  line-height: 1.07em;
  text-align: center;
}

h2 {
  margin: 5px 0 10px;
  font-weight: 500;
  line-height: 1.07em;
}

.post-thumbnail {
  img {
    margin: 12px 0;
  }
}

.block-top {
  background-color: $color1;
  position: relative;
  padding-top: 20px;
}
.about {
  color: #fff;
  position: absolute;
  top: 35px;
  left: 20px;
  right: 20px;
  z-index: 99;
  &__greet {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 500;
  }
}
.about__desc {
  width: 145px;
}
.mypic {
  width: 185px;
  margin-left: auto;
  margin-top: 60px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 370px;
    background: linear-gradient(0deg, black, transparent);
    z-index: 9;
  }
}
.btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
  z-index: 99;
}
.btn {
  color: #000;
  background-color: $color5;
  font-size: 14px;
  padding: 10px 20px;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.block-technology,
.block-reviews {
  border: 1px solid $color1;
  padding-top: 20px;
  padding-bottom: 50px;
}

.block-portfolio,
.block-feddbackform {
  background-color: $color1;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

.technology {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.technology-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  background-color: $color4;
  color: #fff;
  padding: 7px 10px;
}
.technology-item__title {
  font-size: 18px;
  font-weight: 600;
}
.technology-item__progress {
  margin: 10px 0 10px;
  background-color: $color1;
  border-radius: $bradius2;
  display: flex;
  overflow: hidden;
  box-shadow: -2px 1px 5px #000 inset;
  span {
    height: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 5px #000000 inset;
  }

  .html {
    width: 80%;
  }
  .css {
    width: 90%;
  }
  .scss {
    width: 75%;
  }
  .flex-grid {
    width: 75%;
  }
  .javascript {
    width: 70%;
  }
  .php {
    width: 50%;
  }
  .wp {
    width: 70%;
  }
  .elementor {
    width: 55%;
  }
  .acf {
    width: 70%;
  }
  .figma {
    width: 60%;
  }
}

.page > .section {
  border-left: 1px solid $color1;
  border-right: 1px solid $color1;
}

html:has(.customize-support) .header_fixed {
  top: 45px !important;
}
#wpadminbar {
  position: fixed;
}

// start @MEDIA
// start 360px
@media (min-width: 360px) {
  .mypic {
    width: 235px;
  }
}
// start 470px
@media (min-width: 470px) {
  .mypic {
    width: 235px;
    margin-top: 0;
  }

  .about__desc {
    width: 220px;
  }
}
// start 640px
@media (min-width: 640px) {
  .section {
    padding: 6px 40px;
  }

  .header__logo {
    a {
      width: 50px;
    }
  }

  .header__nav {
    #menu-verhnee-menyu {
      .menu-item {
        margin-right: 10px;
        font-size: 14px;
        padding: 3px 7px;
      }
    }
  }

  h1 {
    text-align: left;
  }
  .about {
    top: 50px;
    left: 40px;
    right: 40px;
  }
  .mypic {
    width: 280px;
  }
  .about__desc {
    width: 330px;
  }
  .about__greet {
    margin-bottom: 30px;
  }
  .about__whoami {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
// start 768px
@media (min-width: 768px) {
  .section {
    padding: 8px 60px;
  }

  // .header__logo {
  //   a {
  //     width: 60px;
  //     margin: 7px 0;
  //   }
  // }

  .page {
    padding: 65px 0 0;
  }
  .mypic {
    width: 360px;
  }
  .about {
    left: 60px;
    right: 60px;
  }
  .about__greet {
    margin-bottom: 30px;
  }
  .about__desc {
    width: 340px;
    line-height: 1.5em;
  }
  .about__whoami {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
// start 783px
@media (min-width: 783px) {
  html:has(.customize-support) .header_fixed {
    top: 32px !important;
  }
}
// start 1024px
@media (min-width: 1024px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 80px;
  }

  // .header__logo {
  //   a {
  //     width: 70px;
  //   }
  // }
  .page {
    padding: 70px 0 0;
  }
  .about {
    left: 80px;
    right: 80px;
  }

  .technology-item {
    width: calc(20% - 20px);
  }
}

// end @MEDIA
