/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a,
h2,
h3 {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:active,
  &:focus {
    color: inherit;
    outline: none;
  }
}

ol,
li {
  list-style: none;
}
ul,
dd {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
img {
  border: none;
  object-fit: contain;
}
input,
textarea,
select {
  outline: none;
  border: 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}
address {
  font-style: normal;
}
/*----------------*/
@import 'vars';

body {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.32em;
  margin: 0;
  background-color: $color3;
}

dl,
blockquote {
  margin: 0;
}
time {
  font-size: 12px;
  text-align: center;
  margin: 30px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 62px;
}

.header {
  background-color: $color1;
  color: $color2;
  box-shadow: 0 1px 2px $color7;
}
.header_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0 7px;
}
.header__logo {
  display: flex;
  height: 50px;
  a {
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.info {
  display: flex;
  gap: 20px;
}
.info__item {
  display: flex;
  gap: 5px;
}
.info__label {
}
.info__mode {
}
.info__mode_on {
  color: #28ff28;
}
.info__mode_off {
  color: #ff2828;
}
.header__nav {
  ul {
    display: flex;
    gap: 20px;
    li {
      text-decoration: underline;
      text-underline-offset: 4px;
      font-weight: 500;
      color: $color6;
      transition: color $transition1 ease-in-out;
      &.current-menu-item {
        color: #fff;
      }
    }
  }
}
.header__nav-mob {
}
.header__nav-mob__open {
}
.nav-mob_active {
}
.header__nav-mob__close {
}

.block-top {
  background-color: $color1;
  color: $color6;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.74) 21%, rgba(255, 255, 255, 0) 100%);
  }
}
.block-top__inner {
  position: relative;
  padding: 40px 0;
}

.about {
  max-width: 900px;
}
.about__greet {
  h1 {
    font-size: 68px;
    line-height: 1.15em;
    font-weight: 700;
    margin: 10px 0 35px;
  }
}
.about__greet_accent {
  color: $color4;
}

.mypic {
  display: flex;
  justify-content: flex-end;
  height: 600px;
  position: relative;
  z-index: 99;
  img {
    height: 100%;
  }
}
.btns {
  display: flex;
  gap: 30px;
  bottom: 120px;
}
.about,
.btns {
  position: absolute;
  z-index: 99;
}
.btns__order-site {
}
.btn {
  background-color: $color5;
  color: $color7;
  padding: 15px 35px 17px;
  font-size: 26px;
  font-weight: 600;
  border-radius: 65px;
  box-shadow: 0px 0px 7px rgb(37 233 97 / 76%);
  transition: box-shadow $transition1 ease-in-out;
  width: fit-content;
}
.btns__order-rework {
}
.block-portfolio,
.block-reviews,
.block-technology,
.block-feddbackform,
.footer {
  padding: 90px 0;
}
.block-portfolio {
  background-color: #0b0d17;
  color: $color6;
}

.block-technology,
.block-feddbackform {
  background-color: $color7;
  color: $color6;
}

h2 {
  font-size: 36px;
  margin: 0 0 50px;
  font-weight: 600;
}

.block-portfolio__inner {
}
.section__title {
  .fa {
    font-size: 18px;
  }
  a {
    text-decoration: underline;
    text-underline-offset: 10px;
    color: $color6;
    transition: color $transition1 ease-in-out;
  }
}

.fa-chevron-right {
}
.portfolio-gallery {
}

.slick-dots {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 35px 0;

  li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #cde12c;
    cursor: pointer;
    box-shadow: 0px 0px 7px rgba(37, 233, 97, 0.76);
    transition: box-shadow $transition1 ease-in-out;
  }
  button {
    display: none;
  }
}

.portfolio-gallery-item {
  position: relative;
  border-radius: 11px;
  overflow: hidden;
  &.slick-current {
    .portfolio-gallery-item__pic {
      img {
        animation: scale 18s infinite ease-in-out;
      }
    }
  }
}

@keyframes scale {
  from {
    transform: scale(1.12);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

.portfolio-gallery-item__title,
.portfolio-gallery-item__more {
  text-align: center;
  font-size: 24px;
  padding: 35px 0;
  font-weight: 500;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all $transition2 ease-in-out;
}
.portfolio-gallery-item__title {
  background: linear-gradient(180deg, #0b0d17 23%, rgba(0, 0, 0, 0.742734593837535) 62%, rgba(28, 28, 28, 0.5942752100840336) 84%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  top: -50%;
  left: 0;
  z-index: 99;
}
.portfolio-gallery-item__more {
  background: linear-gradient(0deg, #0b0d17 23%, rgba(0, 0, 0, 0.742734593837535) 62%, rgba(28, 28, 28, 0.5942752100840336) 84%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  bottom: -50%;
  left: 0;
  z-index: 99;
}
.portfolio-gallery-item__pic {
  display: flex;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}
.portfolio-gallery-item__desc {
}
.portfolio-gallery-item__more {
}
.technology {
  display: flex;
  flex-wrap: wrap;
}

.technology-item__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}
.technology-item__title-img {
  display: flex;
  max-width: 100px;
  overflow: hidden;
  border-radius: 20px;
  img {
    width: 100%;
    height: auto;
  }
}
.technology-item__progress {
  display: flex;
  height: 10px;
  margin: 10px 50px 0;
  background-color: #0b0d17;
  border-radius: 5px;
  position: relative;
  .technology-item-notice-line-wrapper {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .technology-item-notice-line {
    border-radius: 5px;
    background-color: #5e5e5e;
  }

  .technology-item-notice {
    position: absolute;
    display: block;
    font-size: 12px;
    line-height: 1.7em;
    text-align: center;
    background-color: #222;
    border-radius: 5px;
    padding: 5px 10px;
    left: 15%;
    bottom: -60px;
    width: 230px;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity $transition1 ease-in-out;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 20px solid #222;
      border-right: 20px solid transparent;
      left: 0;
      top: -15px;
    }
  }
}
.technology-item {
  width: 20%;
  margin-bottom: 50px;
  &:hover .technology-item-notice {
    opacity: 1;
  }
}

.html {
}
.animate__fadeInLeft {
}
.block-reviews {
  background-color: $color8;
  .section__title {
    color: $color6;
  }
  .slick-dots {
    margin: 5px 0 35px;
  }
  .reviews-slider {
    cursor: grab;
  }
}
.reviews-slider {
  position: relative;
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: $color8;
    z-index: 99;
  }
  &::before {
    left: -1px;
  }
  &::after {
    right: -1px;
  }
}
.reviews-slider-item {
  background-color: #fff;
  margin: 30px;
  border-radius: 10px;
  transition: background-color $transition1 ease-in-out;
}
.slick-current .reviews-slider-item {
  background-color: $color4;
}
.reviews-slider-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  h3 {
    margin: 0 0 25px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.3em;
  }
  .review-owner {
    .review-owner__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin: 35px 0 10px;
    }
  }
}
.reviews-slider-item__pic {
  width: 70px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.reviews-slider-item__desc {
  padding: 10px 20px;
  background-color: #eeeeee73;
  border-radius: 10px;
  position: relative;
  line-height: 1.5em;
  &::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-top: 25px solid #eeeeee73;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    bottom: -25px;
    left: calc(50% - 25px);
  }
}
.reviews-slider-item-btns {
  display: flex;
  gap: 20px;
  margin: 20px 0 15px;
  a {
    display: block;
  }
}
.btn_medium {
  font-size: 16px;
  padding: 10px 25px;
}
.btn_min {
  font-size: 14px;
  padding: 7px 21px;
}
.reviews-slider-item-btns__item {
}
.reviews-slider-btns {
}
.reviews-slider-btns__prev {
}
.fa-chevron-left {
}
.reviews-slider-btns__next {
}
.block-feddbackform {
}

.feddbackform {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input:not([type='submit']),
  select,
  textarea {
    font-family: 'Montserrat';
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 7px;
    background-color: $color8;
    color: #fff;
  }
  textarea {
    resize: none;
  }
  select,
  input[type='submit'] {
    cursor: pointer;
  }
  input[type='submit'] {
    margin: 0 0 0 auto;
    display: block;
  }
  .feddbackform-item__label {
    margin-bottom: 7px;
  }
  span.wpcf7-not-valid-tip {
    margin-top: 4px;
    font-size: 13px;
  }
}
.wpcf7-response-output {
  margin: 7px auto 35px !important;
  font-size: 18px;
  padding: 15px 40px !important;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
}

.feddbackform__group {
  display: flex;
  justify-content: space-between;
  .feddbackform__item {
    width: calc(33% - 20px);
  }
}

.footer {
  background-color: $color3;
  color: $color2;
  padding-bottom: 20px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 80px;
  dd {
    letter-spacing: 2px;
  }
}
.footer__item {
  dl {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 10px;
    height: 30px;
  }
  .fa {
    font-size: 22px;
    margin-left: 5px;
  }
  a {
    transition: color $transition1 ease-in-out;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
.footer_bottom {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}
.slick-dots li.slick-active {
  box-shadow: 0px 0px 15px rgb(37 233 97 / 90%);
  background-color: #28ff28;
}

.archive {
  h2 {
    font-size: 27px;
    line-height: 32px;
    margin: 20px 0;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid $color8;
    max-width: fit-content;
    color: $color2;
  }
  .archive-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
  }
  .archive-list__item {
    width: calc(50% - 15px / 2);
    padding: 20px 30px;
    margin-bottom: 20px;
    border: 1px solid $color8;
    border-radius: 7px;
    transition: box-shadow $transition1 ease-in-out;
  }
  .archive-list__item-body-text {
    width: 50%;
    line-height: 1.5em;
  }
  .post-thumbnail {
    display: flex;
    width: 50%;
    overflow: hidden;
    margin-left: auto;
    border-radius: 7px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .archive-list__item-body {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
}
.archive,
.single,
.index,
.contacts {
  padding: 50px 0 80px;
}

.breadcrumbs {
  font-weight: 400;
  color: $color6;
}

.single {
  .single__title {
    margin: 27px 0;
    font-size: 18px;
    font-weight: 600;
    color: $color6;
  }

  .single__top {
    display: flex;
  }
  .single__img {
    display: flex;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .single__bottom p {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0 10px;
    a {
      width: calc(33% - 16px);
      display: flex;
    }
  }
  .single__txt {
    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    ol,
    li {
      list-style: inherit;
    }
  }

  & :where(img[class*='wp-image-']) {
    width: 100% !important;
    border-radius: 7px;
    box-shadow: 0 2px 3px #000;
  }
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.container > p {
  margin: 10px 0 20px;
  a {
    color: $color10;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 500;
  }
}

.contacts,
.archive,
.single {
  background-color: $color7;
  color: $color2;
}
.archive__title,
.contacts__title {
  h1 {
    font-size: 63px;
    line-height: 1.15em;
    font-weight: 700;
    margin: 5px 0 -30px;
    color: $color3;
  }
}
// ====== START MEDIA ====== //
@media (hover: hover) {
  .header__nav ul li:hover,
  .section__title a:hover,
  .footer__item a:hover {
    color: #ffffff;
  }

  .btn:hover,
  .slick-dots li:hover {
    box-shadow: 0px 0px 15px rgb(37 233 97 / 90%);
  }
  .portfolio-gallery-item:hover {
    .portfolio-gallery-item__title {
      top: 0;
    }
    .portfolio-gallery-item__more {
      bottom: 0;
    }
    .portfolio-gallery-item__pic {
      filter: blur(3px);
    }
  }
  .archive-list__item:hover {
    box-shadow: 0 0 30px #000000;
  }
}

@media not (hover: none) {
  .portfolio-gallery-item {
    .portfolio-gallery-item__title {
      top: 0;
    }
    .portfolio-gallery-item__more {
      bottom: 0;
    }
    .portfolio-gallery-item__pic {
      filter: blur(0);
    }
  }
}

// ------ start десктоп 1 ------ //
@media (max-width: 1385px) {
  .container {
    max-width: 1110px;
  }
  .about {
    max-width: 590px;
  }
  .about__greet h1 {
    font-size: 52px;
    line-height: 1.25em;
  }
  .btn {
    padding: 13px 30px 15px;
    font-size: 22px;
  }
  .mypic {
    height: 510px;
  }
  .block-portfolio,
  .block-reviews,
  .block-technology,
  .block-feddbackform,
  .footer {
    padding: 45px 0;
  }
  .technology-item__title-img {
    max-width: 85px;
  }
  h2 {
    font-size: 34px;
    margin: 0 0 35px;
  }
  .technology-item__title {
    gap: 12px;
    font-size: 14px;
  }
  .technology-item__progress .technology-item-notice {
    font-size: 10px;
    line-height: 1.5em;
    left: 5px;
    bottom: -65px;
    width: 150px;
  }
}
// ------ end десктоп 1 ------ //

// ------ start планшет 1 ------ //
@media (max-width: 1170px) {
  .container {
    padding: 0 20px;
  }
  // ------ end планшет 1 ------ //

  // ------ start планшет 2 ------ //
  @media (max-width: 1110px) {
    .container {
      max-width: 980px;
    }
  }
  // ------ end планшет 2 ------ //

  // ------ start планшет 3 ------ //
  @media (max-width: 980px) {
    nav.header__nav {
      position: fixed;
      top: 0;
      right: -500px;
      width: 100%;
      height: 100%;
      background-color: $color3;
      transition: right $transition2 ease-in-out;
    }
    .menu-verhnee-menyu-container {
      height: 100%;
      ul {
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        height: 100%;
      }
    }
    .header__nav {
      font-size: 20px;
    }

    .header__nav-mob {
      cursor: pointer;
      position: relative;
      width: 40px;
      height: 40px;
      padding-top: 1px;
    }
    .header__nav-mob__open,
    .header__nav-mob__close {
      opacity: 0;
      transition: opacity $transition1 ease-in-out;
    }
    .header__nav-mob__open {
      width: 100%;
      height: 7px;
      border-radius: 10px;
      background-color: $color4;
      box-shadow: 0 15px 0 $color4, 0 30px 0 $color4;
    }
    .header__nav-mob__close {
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: $color4;
        border-radius: 10px;
      }
      &:before {
        top: calc(50% - 7px / 2);
        transform: rotate(45deg);
      }
      &::after {
        bottom: calc(50% - 7px / 2);
        transform: rotate(-45deg);
      }
    }

    .nav-mob_active {
      opacity: 1;
    }
    nav.header__nav.header__nav_active {
      right: 0;
    }

    .container {
      max-width: 640px;
    }
    .about {
      max-width: 370px;
    }
    .mypic {
      height: 320px;
    }
    .about__greet h1 {
      font-size: 32px;
      line-height: 1.1em;
    }
    .btns {
      gap: 15px;
      bottom: 43px;
    }
    .btn {
      padding: 10px 20px 11px;
      font-size: 16px;
      font-weight: 700;
    }

    .header__inner {
      font-size: 14px;
    }
    .block-top__inner {
      padding: 20px 0;
    }
    h2 {
      font-size: 27px;
      margin: 15px 0 27px;
    }

    .portfolio-gallery-item__title,
    .portfolio-gallery-item__more {
      font-size: 16px;
    }
    .btn.btn_medium {
      font-size: 14px;
      padding: 7px 15px;
    }
    .block-portfolio,
    .block-reviews,
    .block-technology,
    .block-feddbackform,
    .footer {
      padding: 20px 0;
    }
    .technology-item__title-img {
      max-width: 60px;
      border-radius: 7px;
    }
    .technology-item {
      width: 25%;
      margin-bottom: 35px;
    }
    .technology-item__progress {
      height: 7px;
      margin: 10px 30px 0;
    }
    .technology-item__title {
      font-size: 11px;
      gap: 5px;
    }
    .reviews-slider-item {
      margin: 0 40px 0;
    }
    .reviews-slider::before,
    .reviews-slider::after {
      height: 96%;
    }
    .slick-dots {
      gap: 7px;
    }
    .block-reviews .slick-dots {
      margin: 3px 0 25px;
    }
    .feddbackform__group {
      flex-direction: column;
      .feddbackform__item {
        width: 100%;
      }
    }
    .feddbackform input:not([type='submit']),
    .feddbackform select,
    .feddbackform textarea {
      padding: 7px 15px;
      font-size: 14px;
      line-height: 17px;
      border-radius: 5px;
    }
    .feddbackform,
    .feddbackform__group {
      gap: 14px;
    }
    .feddbackform .feddbackform-item__label {
      font-size: 14px;
    }
    .footer__top {
      flex-direction: column;
      margin: 7px 0 30px;
    }
    .archive .archive-list__item {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px 25px;
    }
    .archive h2 {
      font-size: 18px;
      line-height: 22px;
      margin: 15px 0;
      padding-bottom: 5px;
    }
    .single .single__title {
      margin: 30px 0 20px;
    }
    .single__title h1 {
      font-size: 22px;
      line-height: 26px;
    }
    .single .single__top {
      flex-direction: column;
    }
    .single .single__img {
      max-width: 100%;
    }
  }
  // ------ end планшет 3 ------ //

  // ------ start мобайл 1 ------ //
  @media (max-width: 690px) {
    .technology-item__progress .technology-item-notice::before {
      border-left: 20px solid transparent;
      left: calc(50% - 10px);
    }
    .technology-item__progress .technology-item-notice {
      left: -25px;
      bottom: -65px;
      width: 140px;
    }
    .technology-item {
      margin-bottom: 22px;
    }
    .reviews-slider-item-inner h3 {
      margin: 0 0 15px;
      font-size: 16px;
    }
    .reviews-slider-item-inner {
      padding: 12px;
    }
    .reviews-slider-item__desc {
      padding: 7px 15px;
      line-height: 1.4em;
      font-size: 13px;
    }
    .footer__top {
      font-size: 12px;
      margin: 7px 0 15px;
    }
    .footer__item dl {
      height: 20px;
    }
  }
}
// ------ end мобайл 1 ------ //

// ------ start мобайл 2 ------ //
@media (max-width: 600px) {
  .container {
    max-width: 390px;
  }
  .mypic {
    height: 240px;
  }
  .about {
    max-width: 204px;
  }
  .about__greet h1 {
    font-size: 23px;
    line-height: 1.2em;
  }
  .btns {
    gap: 7px;
    bottom: 7px;
  }
  .btn {
    padding: 7px 11px 8px;
    font-size: 10px;
  }
  .header__inner {
    font-size: 10px;
  }
  h2 {
    font-size: 22px;
    margin: 9px 0 18px;
  }
  .technology-item {
    width: 33%;
  }
  .technology-item__progress .technology-item-notice {
    left: -25px;
    bottom: -98px;
    width: 105px;
  }
  .technology-item__progress .technology-item-notice::before {
    left: calc(50% - 20px);
  }
  .technology-item__title {
    font-size: 9px;
    gap: 4px;
  }
  .technology-item__progress {
    height: 5px;
    margin: 4px 20px 0;
  }
  .reviews-slider-item {
    margin: 0 3px 0;
  }
  .slick-dots {
    gap: 3px;
    li {
      width: 7px;
      height: 7px;
    }
  }
  .reviews-slider::before,
  .reviews-slider::after {
    height: 100%;
  }
  .reviews-slider-item-inner .review-owner .review-owner__top {
    gap: 10px;
    margin: 25px 0 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .reviews-slider-item__pic {
    width: 40px;
  }
  .footer__item dl {
    height: 20px;
  }
  .footer__top dd {
    letter-spacing: normal;
  }
  .footer__top {
    font-size: 10px;
    margin: 3px 0 13px;
  }
  .footer_bottom {
    font-size: 9px;
    line-height: 1.3em;
    margin-top: 25px;
  }
  .archive .post-thumbnail,
  .archive .archive-list__item-body-text {
    width: 100%;
  }
  .archive .archive-list__item-body-text {
    font-size: 14px;
  }
  .archive .archive-list__item-body {
    flex-direction: column;
  }
  .archive__title h1,
  .contacts__title h1 {
    font-size: 42px;
    margin: 3px 0 -20px;
  }
  .archive,
  .single,
  .index,
  .contacts {
    padding: 15px 0 30px;
    line-height: 1.5em;
  }
  .feddbackform,
  .feddbackform__group {
    gap: 5px;
  }

  .header__nav-mob {
    width: 32px;
    height: 32px;
    padding-top: 3px;
  }
  .header__nav-mob__open {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: $color4;
    box-shadow: 0 10px 0 $color4, 0 20px 0 $color4;
  }
  .header__nav-mob__close:before,
  .header__nav-mob__close:after {
    height: 5px;
  }
  .header__nav-mob__close:before {
    top: calc(50% - 2.5px);
  }
  .header__nav-mob__close:after {
    bottom: calc(50% - 2.5px);
  }
}
// ------ end мобайл 2 ------ //
// ====== END MEDIA ====== //
