body {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.32em;
  margin: 0;
  background-color: #eee;
}

@import 'vars';

body {
  min-width: 320px;
  overflow-x: hidden;
  color: $color3;
}

img {
  width: 100%;
  height: 100%;
}

.section {
  padding: 3px 20px;
}

.header .section {
  background-color: $color1;
  color: $color2;
  .header__inner {
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 5px;
  a {
    display: flex;
    width: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header__nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: #3d5995;
  .menu-verhnee-menyu-container {
    height: 100%;
    #menu-verhnee-menyu {
      height: 100%;
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      align-items: center;
      .menu-item {
        width: 320px;
      }
      .menu-item a {
        margin-bottom: 20px;
        font-size: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        background-color: $color4;
        color: $color2;
        border-radius: $bradius1;
        letter-spacing: 0.04em;
      }
      .current-menu-item a {
        background-color: $color2;
        color: $color4;
      }
    }
  }
}

.collapse {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
  .fa {
    display: none;
    font-size: 27px;
    color: $color2;
  }
  .collapse_active {
    display: block;
  }
}
.page {
  padding: 45px 0 0;
}

.header .section .header__inner_hide {
  justify-content: flex-end;
  .header__logo,
  .header__nav {
    display: none;
  }
}
.header_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.header_collapse {
  .header__inner {
    min-height: 20px;
  }
}

h1 {
  margin: 7px 0 24px;
  font-weight: 500;
  line-height: 1.07em;
  text-align: center;
}

h2 {
  margin: 10px 0 25px;
  font-weight: 700;
  line-height: 1.07em;
  i.fa {
    font-size: 16px;
  }
}

.post-thumbnail {
  img {
    margin: 12px 0;
  }
}

.block-top {
  background-color: $color1;
  position: relative;
  padding-top: 20px;
}
.about {
  color: #fff;
  position: absolute;
  top: 35px;
  left: 20px;
  right: 20px;
  z-index: 99;
  &__greet {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 500;
  }
}
.about__desc {
  width: 145px;
}
.mypic {
  width: 185px;
  margin-left: auto;
  margin-top: 60px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 370px;
    background: linear-gradient(0deg, black, transparent);
    z-index: 9;
  }
}
.btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
  z-index: 99;
}
.btn {
  color: #000;
  background-color: $color5;
  font-size: 14px;
  padding: 10px 20px;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.block-technology,
.block-reviews {
  border: 1px solid $color1;
  padding-top: 20px;
  padding-bottom: 50px;
}

.block-portfolio,
.block-feddbackform {
  background-color: $color1;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

footer .section {
  background-color: #1a1a1a;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

.technology {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.technology-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  background-color: $color1;
  color: #fff;
  padding: 7px 10px;
}
.technology-item__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.technology-item__progress {
  margin: 10px 0 10px;
  background-color: $color1;
  border-radius: $bradius2;
  display: flex;
  overflow: hidden;
  box-shadow: -2px 1px 5px #000 inset;
  span {
    height: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 5px #000000 inset;
  }
}

.page > .section {
  border-left: 1px solid $color1;
  border-right: 1px solid $color1;
}

html:has(.customize-support) {
  body {
    padding-top: 45px;
  }
}
html:has(.customize-support) .header_fixed {
  top: 45px !important;
}

#wpadminbar {
  position: fixed;
}

.block-portfolio,
.block-reviews {
  position: relative;
}

// start portfolio
.portfolio-gallery {
  display: grid;
  gap: 15px;
}
.portfolio-gallery-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .portfolio-gallery-item__pic {
    position: relative;
    filter: blur(2px);
    img {
      transition-property: transform;
      transition-duration: 0.38s;
      transition-timing-function: ease-in-out;
    }
    &::after {
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.38) 38%, rgba(0, 0, 0, 0.38) 62%, rgba(0, 0, 0, 1) 100%);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition-property: background;
      transition-duration: 0.38s;
      transition-timing-function: ease-in-out;
    }
  }
}
.portfolio-gallery-item__title,
.portfolio-gallery-item__desc,
.portfolio-gallery-item__more {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: top, bottom;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}
.portfolio-gallery-item__title {
  top: 0;
  margin-bottom: -60px;
  padding: 10px 15px;
  min-height: 60px;
  font-weight: 600;
}
.portfolio-gallery-item__desc {
  bottom: 0;
  min-height: 50px;
  margin-top: -80px;
  padding: 5px 15px;
}
.portfolio-gallery-item__more {
  bottom: -50px;
  min-height: 30px;
  a {
    width: fit-content;
    text-align: center;
    padding: 0 12px;
    background-color: $color5;
    color: #000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-weight: 700;
    box-shadow: 0 0 60px 20px;
  }
}
.portfolio-gallery-item {
  &:hover {
    .portfolio-gallery-item__title {
      // top: -50px;
    }
    .portfolio-gallery-item__desc {
      // bottom: -100px;
    }
    .portfolio-gallery-item__more {
      bottom: calc(50% - 15px);
    }
    .portfolio-gallery-item__pic {
      img {
        transform: scale(1.2);
      }
      &::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 38%, rgba(0, 0, 0, 0.1) 62%, rgba(0, 0, 0, 1) 100%);
      }
    }
  }
}
// end portfolio

.reviews-slider-btns {
  position: absolute;
  height: 50px;
  top: calc(50% - 25px);
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  & > div {
    cursor: pointer;
  }
  .fa {
    font-size: 22px;
  }
}

.reviews-slider-item__pic {
  padding: 20px;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 15px;
  button {
    display: none;
  }
  li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #7a7a7a;
    cursor: pointer;
  }
  .slick-active {
    background-color: $color4;
    color: #fff;
  }
}

// start  feddbackform
.feddbackform,
.feddbackform__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feddbackform {
  .feddbackform-item__label {
    margin-bottom: 7px;
  }
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
  }
  select {
    cursor: pointer;
  }
}
input[type='submit'] {
  cursor: pointer;
  background-color: $color5;
  font-weight: 600;
  max-width: 300px;
  float: right;
}
// end  feddbackform

.reviews-slider-item-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -30px;
}
.reviews-slider-item-btns__item {
  min-width: 120px;
  a {
    display: block;
    padding: 10px 22px;
    background-color: $color5;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
  }
}

.technology-item__title-img {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 14px;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio-list__item-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__nav-mob__open {
  width: 30px;
  height: 30px;
  cursor: pointer;
  &::after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 12px 0 0px #fff, 0 24px 0 0px #fff;
    border-radius: 5px;
  }
}
.header__nav-mob__close {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &::after,
  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  &::before {
    transform: rotate(45deg);
    margin-left: -15px;
    margin-top: -3px;
  }
  &::after {
    transform: rotate(-45deg);
    margin-left: -15px;
    margin-top: -3px;
  }
}

// .reviews-slider {
//   max-width: 600px;
//   margin: 0 auto;
// }

// start @MEDIA
// start 360px
@media (min-width: 360px) {
  .mypic {
    width: 235px;
  }
}
// start 470px
@media (min-width: 470px) {
  .mypic {
    width: 235px;
    margin-top: 0;
  }

  .about__desc {
    width: 220px;
  }
}
// start 640px
@media (min-width: 640px) {
  .section {
    padding: 6px 40px;
  }

  .header__logo {
    a {
      width: 50px;
    }
  }

  .header__nav {
    #menu-verhnee-menyu {
      .menu-item {
        margin-right: 10px;
        font-size: 14px;
        padding: 3px 7px;
      }
    }
  }

  h1 {
    text-align: left;
  }
  .about {
    top: 50px;
    left: 40px;
    right: 40px;
  }
  .mypic {
    width: 280px;
  }
  .about__desc {
    width: 330px;
  }
  .about__greet {
    margin-bottom: 30px;
  }
  .about__whoami {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolio-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .block-technology,
  .block-portfolio,
  .block-reviews,
  .block-feddbackform {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .portfolio-list__item-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 22px;
  }
  .post-thumbnail {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    max-width: 380px;
  }
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 55px;
}
.portfolio-list__item-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 30px;
  border: 1px solid #2a3256;
  border-radius: 10px;
  transition: box-shadow 0.25s ease-in-out;
  img {
    margin: 0;
  }
  &:hover {
    box-shadow: 0 0 20px #00000094;
  }
}

// start 768px
@media (min-width: 768px) {
  .section {
    padding-left: 60px;
    padding-right: 60px;
  }
  .page {
    padding: 50px 0 0;
  }
  .mypic {
    width: 360px;
  }
  .about {
    left: 60px;
    right: 60px;
  }
  .about__greet {
    margin-bottom: 30px;
  }
  .about__desc {
    width: 340px;
    line-height: 1.5em;
  }
  .about__whoami {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
// start 783px
@media (min-width: 783px) {
  html:has(.customize-support) .header_fixed {
    top: 32px !important;
  }

  .feddbackform,
  .feddbackform__group {
    gap: 20px;
  }
  .feddbackform__group {
    flex-direction: row;
  }

  .reviews-slider-item-btns {
    gap: 10px;
  }
  .reviews-slider-item-btns__item a {
    font-size: 12px;
  }
}
// start 1024px
@media (min-width: 1024px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  .page {
    padding: 55px 0 0;
  }
  .about {
    left: 80px;
    right: 80px;
  }

  .technology-item {
    width: calc(20% - 20px);
  }
}

// end @MEDIA
