$color1: #2a3256;
$color2: #d4e9ff;
$color3: #333;
// $color4: #4268ad;
$color4: #6cb3f9;
// $color5: #efc540; // btns
$color5: #cde12c; // btns
$color6: #b1c1d1;
$color7: #3c3c3c;
$color8: #5e5e5e;
$color9: #d0d1d9;

$transition1: 0.2s;
$transition2: 0.8s;

$bradius1: 3px;
$bradius2: 10px;
