body {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.32em;
  margin: 0;
  background-color: #eee;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: #333;
}

img {
  width: 100%;
  height: 100%;
}

.section {
  padding: 3px 20px;
}

.header .section {
  background-color: #2a3256;
  color: #d4e9ff;
}
.header .section .header__inner {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}
.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
}
.header__logo a img {
  width: 100%;
  height: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav #menu-verhnee-menyu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav #menu-verhnee-menyu .menu-item {
  margin-right: 3px;
  font-size: 12px;
  padding: 3px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4268ad;
  color: #d4e9ff;
  border-radius: 3px;
  letter-spacing: 0.04em;
}
.header__nav #menu-verhnee-menyu .current-menu-item {
  background-color: #d4e9ff;
  color: #4268ad;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 5px;
}
.collapse .fa {
  display: none;
  font-size: 27px;
  color: #d4e9ff;
}
.collapse .collapse_active {
  display: block;
}

.page {
  padding: 45px 0 0;
}

.header .section .header__inner_hide {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .section .header__inner_hide .header__logo,
.header .section .header__inner_hide .header__nav {
  display: none;
}

.header_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.header_collapse .header__inner {
  min-height: 20px;
}

h1 {
  margin: 7px 0 24px;
  font-weight: 500;
  line-height: 1.07em;
  text-align: center;
}

h2 {
  margin: 5px 0 10px;
  font-weight: 500;
  line-height: 1.07em;
}

.post-thumbnail img {
  margin: 12px 0;
}

.block-top {
  background-color: #2a3256;
  position: relative;
  padding-top: 20px;
}

.about {
  color: #fff;
  position: absolute;
  top: 35px;
  left: 20px;
  right: 20px;
  z-index: 99;
}
.about__greet {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 500;
}

.about__desc {
  width: 145px;
}

.mypic {
  width: 185px;
  margin-left: auto;
  margin-top: 60px;
}
.mypic:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 370px;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: linear-gradient(0deg, black, transparent);
  z-index: 9;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
  z-index: 99;
}

.btn {
  color: #000;
  background-color: #efc540;
  font-size: 14px;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.block-technology,
.block-reviews {
  border: 1px solid #2a3256;
  padding-top: 20px;
  padding-bottom: 50px;
}

.block-portfolio,
.block-feddbackform {
  background-color: #2a3256;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 55px;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technology-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 20px);
  background-color: #4268ad;
  color: #fff;
  padding: 7px 10px;
}

.technology-item__title {
  font-size: 18px;
  font-weight: 600;
}

.technology-item__progress {
  margin: 10px 0 10px;
  background-color: #2a3256;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-shadow: -2px 1px 5px #000 inset;
          box-shadow: -2px 1px 5px #000 inset;
}
.technology-item__progress span {
  height: 10px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px #000000 inset;
          box-shadow: 1px 2px 5px #000000 inset;
}
.technology-item__progress .html {
  width: 80%;
}
.technology-item__progress .css {
  width: 90%;
}
.technology-item__progress .scss {
  width: 75%;
}
.technology-item__progress .flex-grid {
  width: 75%;
}
.technology-item__progress .javascript {
  width: 70%;
}
.technology-item__progress .php {
  width: 50%;
}
.technology-item__progress .wp {
  width: 70%;
}
.technology-item__progress .elementor {
  width: 55%;
}
.technology-item__progress .acf {
  width: 70%;
}
.technology-item__progress .figma {
  width: 60%;
}

.page > .section {
  border-left: 1px solid #2a3256;
  border-right: 1px solid #2a3256;
}

html:has(.customize-support) .header_fixed {
  top: 45px !important;
}

#wpadminbar {
  position: fixed;
}

@media (min-width: 360px) {
  .mypic {
    width: 235px;
  }
}
@media (min-width: 470px) {
  .mypic {
    width: 235px;
    margin-top: 0;
  }
  .about__desc {
    width: 220px;
  }
}
@media (min-width: 640px) {
  .section {
    padding: 6px 40px;
  }
  .header__logo a {
    width: 50px;
  }
  .header__nav #menu-verhnee-menyu .menu-item {
    margin-right: 10px;
    font-size: 14px;
    padding: 3px 7px;
  }
  h1 {
    text-align: left;
  }
  .about {
    top: 50px;
    left: 40px;
    right: 40px;
  }
  .mypic {
    width: 280px;
  }
  .about__desc {
    width: 330px;
  }
  .about__greet {
    margin-bottom: 30px;
  }
  .about__whoami {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .section {
    padding: 8px 60px;
  }
  .page {
    padding: 65px 0 0;
  }
  .mypic {
    width: 360px;
  }
  .about {
    left: 60px;
    right: 60px;
  }
  .about__greet {
    margin-bottom: 30px;
  }
  .about__desc {
    width: 340px;
    line-height: 1.5em;
  }
  .about__whoami {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media (min-width: 783px) {
  html:has(.customize-support) .header_fixed {
    top: 32px !important;
  }
}
@media (min-width: 1024px) {
  .section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 80px;
  }
  .page {
    padding: 70px 0 0;
  }
  .about {
    left: 80px;
    right: 80px;
  }
  .technology-item {
    width: calc(20% - 20px);
  }
}