/* reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
h2,
h3 {
  text-decoration: none;
  color: inherit;
}
a:visited,
h2:visited,
h3:visited {
  color: inherit;
}
a:active, a:focus,
h2:active,
h2:focus,
h3:active,
h3:focus {
  color: inherit;
  outline: none;
}

ol,
li {
  list-style: none;
}

ul,
dd {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
textarea,
select {
  outline: none;
  border: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

address {
  font-style: normal;
}

/*----------------*/
body {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.32em;
  margin: 0;
  background-color: #eee;
}

dl,
blockquote {
  margin: 0;
}

time {
  font-size: 12px;
  text-align: center;
  margin: 30px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 62px;
}

.header {
  background-color: #2a3256;
  color: #b1c1d1;
  -webkit-box-shadow: 0 1px 2px #3c3c3c;
          box-shadow: 0 1px 2px #3c3c3c;
}

.header_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 0 7px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}
.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo a img {
  width: 100%;
  height: 100%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.info__mode_on {
  color: #28ff28;
}

.info__mode_off {
  color: #ff2828;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.header__nav ul li {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 500;
  color: #b1c1d1;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.header__nav ul li.current-menu-item {
  color: #fff;
}

.block-top {
  background-color: #2a3256;
  color: #b1c1d1;
  position: relative;
}
.block-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(21%, rgba(0, 0, 0, 0.74)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.74) 21%, rgba(255, 255, 255, 0) 100%);
}

.block-top__inner {
  position: relative;
  padding: 40px 0;
}

.about {
  max-width: 900px;
}

.about__greet h1 {
  font-size: 68px;
  line-height: 1.15em;
  font-weight: 700;
  margin: 10px 0 35px;
}

.about__greet_accent {
  color: #6cb3f9;
}

.mypic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 600px;
  position: relative;
  z-index: 99;
}
.mypic img {
  height: 100%;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  bottom: 120px;
}

.about,
.btns {
  position: absolute;
  z-index: 99;
}

.btn {
  background-color: #cde12c;
  color: #3c3c3c;
  padding: 15px 35px 17px;
  font-size: 26px;
  font-weight: 600;
  border-radius: 65px;
  -webkit-box-shadow: 0px 0px 7px rgba(37, 233, 97, 0.76);
          box-shadow: 0px 0px 7px rgba(37, 233, 97, 0.76);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.block-portfolio,
.block-reviews,
.block-technology,
.block-feddbackform,
.footer {
  padding: 90px 0;
}

.block-portfolio {
  background-color: #0b0d17;
  color: #b1c1d1;
}

.block-technology,
.block-feddbackform {
  background-color: #3c3c3c;
  color: #b1c1d1;
}

h2 {
  font-size: 36px;
  margin: 0 0 50px;
  font-weight: 600;
}

.section__title .fa {
  font-size: 18px;
}
.section__title a {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #b1c1d1;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 35px 0;
}
.slick-dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cde12c;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px rgba(37, 233, 97, 0.76);
          box-shadow: 0px 0px 7px rgba(37, 233, 97, 0.76);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.slick-dots button {
  display: none;
}

.portfolio-gallery-item {
  position: relative;
  border-radius: 11px;
  overflow: hidden;
}
.portfolio-gallery-item.slick-current .portfolio-gallery-item__pic img {
  -webkit-animation: scale 18s infinite ease-in-out;
          animation: scale 18s infinite ease-in-out;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
  }
}
.portfolio-gallery-item__title,
.portfolio-gallery-item__more {
  text-align: center;
  font-size: 24px;
  padding: 35px 0;
  font-weight: 500;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.portfolio-gallery-item__title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%, #0b0d17), color-stop(62%, rgba(0, 0, 0, 0.7427345938)), color-stop(84%, rgba(28, 28, 28, 0.5942752101)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #0b0d17 23%, rgba(0, 0, 0, 0.7427345938) 62%, rgba(28, 28, 28, 0.5942752101) 84%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  top: -50%;
  left: 0;
  z-index: 99;
}

.portfolio-gallery-item__more {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(23%, #0b0d17), color-stop(62%, rgba(0, 0, 0, 0.7427345938)), color-stop(84%, rgba(28, 28, 28, 0.5942752101)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #0b0d17 23%, rgba(0, 0, 0, 0.7427345938) 62%, rgba(28, 28, 28, 0.5942752101) 84%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  bottom: -50%;
  left: 0;
  z-index: 99;
}

.portfolio-gallery-item__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.portfolio-gallery-item__pic img {
  width: 100%;
  height: auto;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technology-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}

.technology-item__title-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  overflow: hidden;
  border-radius: 20px;
}
.technology-item__title-img img {
  width: 100%;
  height: auto;
}

.technology-item__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
  margin: 10px 50px 0;
  background-color: #0b0d17;
  border-radius: 5px;
  position: relative;
}
.technology-item__progress .technology-item-notice-line-wrapper {
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.technology-item__progress .technology-item-notice-line {
  border-radius: 5px;
  background-color: #5e5e5e;
}
.technology-item__progress .technology-item-notice {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 1.7em;
  text-align: center;
  background-color: #222;
  border-radius: 5px;
  padding: 5px 10px;
  left: 15%;
  bottom: -60px;
  width: 230px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.technology-item__progress .technology-item-notice::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 20px solid #222;
  border-right: 20px solid transparent;
  left: 0;
  top: -15px;
}

.technology-item {
  width: 20%;
  margin-bottom: 50px;
}
.technology-item:hover .technology-item-notice {
  opacity: 1;
}

.block-reviews {
  background-color: #5e5e5e;
}
.block-reviews .section__title {
  color: #b1c1d1;
}
.block-reviews .slick-dots {
  margin: 5px 0 35px;
}
.block-reviews .reviews-slider {
  cursor: -webkit-grab;
  cursor: grab;
}

.reviews-slider {
  position: relative;
}
.reviews-slider::before, .reviews-slider::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #5e5e5e;
  z-index: 99;
}
.reviews-slider::before {
  left: 0;
}
.reviews-slider::after {
  right: 0;
}

.reviews-slider-item {
  background-color: #fff;
  margin: 30px;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.slick-current .reviews-slider-item {
  background-color: #6cb3f9;
}

.reviews-slider-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.reviews-slider-item-inner h3 {
  margin: 0 0 25px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.3em;
}
.reviews-slider-item-inner .review-owner .review-owner__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 35px 0 10px;
}

.reviews-slider-item__pic {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}
.reviews-slider-item__pic img {
  width: 100%;
  height: auto;
}

.reviews-slider-item__desc {
  padding: 10px 20px;
  background-color: rgba(238, 238, 238, 0.4509803922);
  border-radius: 10px;
  position: relative;
}
.reviews-slider-item__desc::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-top: 25px solid rgba(238, 238, 238, 0.4509803922);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 25px);
}

.reviews-slider-item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 20px 0 15px;
}
.reviews-slider-item-btns a {
  display: block;
}

.btn_medium {
  font-size: 16px;
  padding: 10px 25px;
}

.btn_min {
  font-size: 14px;
  padding: 7px 21px;
}

.feddbackform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.feddbackform input:not([type=submit]),
.feddbackform select,
.feddbackform textarea {
  font-family: "Montserrat";
  padding: 10px 20px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 7px;
  background-color: #5e5e5e;
  color: #fff;
}
.feddbackform textarea {
  resize: none;
}
.feddbackform select,
.feddbackform input[type=submit] {
  cursor: pointer;
}
.feddbackform input[type=submit] {
  margin: 0 0 0 auto;
  display: block;
}
.feddbackform .feddbackform-item__label {
  margin-bottom: 7px;
}
.feddbackform span.wpcf7-not-valid-tip {
  margin-top: 4px;
  font-size: 13px;
}

.wpcf7-response-output {
  margin: 7px auto !important;
  font-size: 18px;
  padding: 15px 40px !important;
  border-radius: 15px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.feddbackform__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feddbackform__group .feddbackform__item {
  width: calc(33% - 20px);
}

.footer {
  background-color: #333;
  color: #d4e9ff;
  padding-bottom: 20px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 80px;
}
.footer__top dd {
  letter-spacing: 2px;
}

.footer__item dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 5px;
  margin-bottom: 10px;
  height: 30px;
}
.footer__item .fa {
  font-size: 22px;
  margin-left: 5px;
}
.footer__item a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer_bottom {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}

.slick-dots li.slick-active {
  -webkit-box-shadow: 0px 0px 15px rgba(37, 233, 97, 0.9);
          box-shadow: 0px 0px 15px rgba(37, 233, 97, 0.9);
  background-color: #28ff28;
}

@media (hover: hover) {
  .header__nav ul li:hover,
  .section__title a:hover,
  .footer__item a:hover {
    color: #ffffff;
  }
  .btn:hover,
  .slick-dots li:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(37, 233, 97, 0.9);
            box-shadow: 0px 0px 15px rgba(37, 233, 97, 0.9);
  }
  .portfolio-gallery-item:hover .portfolio-gallery-item__title {
    top: 0;
  }
  .portfolio-gallery-item:hover .portfolio-gallery-item__more {
    bottom: 0;
  }
  .portfolio-gallery-item:hover .portfolio-gallery-item__pic {
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
}